body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
}

a {
  color: #307EA9;
}

ul {
  padding-left: 20px;
}

b, strong {
  color: #555;
}

li {
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

blockquote {
  color: #000;
  font-style: italic;
}

::selection {
  background-color: #2B2B2B;
  color: #eee;
}

.clear {
  clear: both;
}

.header {
  margin: 100px 0 35px 0;
}
  .header a, .header b {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }
  .header a:hover, .header a:hover b {
    color: #307EA9;
  }

  .name a {
    font-size: 50px;
    font-weight: normal;
  }
  .name b {
    font-family: Monaco, Droid Sans Mono, Consolas, Tahoma, sans-serif;
    font-weight: normal;
  }

  .menu {
    padding: 0;
    margin: 5px 0;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 100;
  }
  .menu li {
    display: inline;
    padding-right: 15px;
  }
  .menu li a{
    font-size: 16px;
  }

  .social {
    margin: -37px 0 0 0;
    padding: 0;
    padding-top: 2px;
    float: right;
  }
  .social li {
    display: inline;
    font-size: 20px;
  }

.container {
  width: 720px;
  margin: 0 auto;
}

.hero {
  background-color: #2B2B2B;
  background-size: cover;
  height: 200px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.90);
}

.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  margin: 40px -30px 30px -30px;
  padding: 15px 30px 15px 23px;
  border-left: 7px solid #eee;
  font-weight: 400;
  color: #444;
}

  h2 {
    margin: 50px -30px 20px -30px;
    padding: 10px 30px 10px 25px;
    border-left: 5px solid #eee;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #444;
  }

  h3 {
    margin: 50px -30px 20px -27px;
    padding: 15px 30px;
    border-left: 3px solid #eee;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #444;
  }

.content {

}
  .content i, .content em {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  .content b, .content strong {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
  }
  .content em b {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .content p {
    font-size: 20px;
    line-height: 160%;
    margin: 25px 0;
  }
  .error i {
    font-size: 16px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: italic;
  }
  .content img, .content video {
    margin: 0 -60px;
    max-width: 770px;
    box-shadow: 0 0 10px #ccc;
    padding: 1px;
    border: 1px solid #999;
    border-radius: 3px;
  }
  .content pre {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #efefef;
    border-radius: 5px;
  }
  .content code {
    font-size: 16px;
  }
  .content .when + p:first-of-type {
    display: inline;
  }
  .when {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    width: 150px;
    display: block;
    text-align: right;
    margin: 23px 0 0 -210px;
    float: left;
  }
  .content hr{
    border: 0;
    height: 6px;
    background-image: url('/images/hr.png');
    background-repeat: repeat-x;
    margin: 2em 3em;
  }
  .pull {
      margin-top: 30px;
  }
  .meta {
    margin: 75px -30px 25px -30px;
    padding: 60px 0;
    border-top: 1px solid #eee;
    color: #eee;
    text-align: center;
  }
  .meta a {
    font-size: 40px;
    color: #555;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }
  .meta a:hover {
    color: #307EA9;
  }
  .meta .block {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
    width: 150px;
    padding: 0 10px;
  }
  .meta .block div {
    margin-top: 10px;
    font-size: 12px;
  }
  .colophon {
    margin: 75px -30px -45px -30px;
    text-align: center;
  }
    .colophon .color, .colophon .typeface {
      width: 100px;
      display: inline-block;
      margin: 5px;
      font-size: 12px;
      box-shadow: 0 0 3px #ccc;
      border-radius: 3px;
    }
    .colophon .typeface b {
      background-color: #fbfbfb;
      display: block;
      width: 100px;
      height: 19px;
      text-transform: uppercase;
      border-bottom: 1px solid #eee;
      color: #ccc;
    }
    .clear {
      height: 50px;
    }

.listing {
  margin: 25px 0;
  padding: 0;
}
  .listing li {
    list-style-type: none;
    padding: 7px 5px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
  }
  .listing span {
    padding-top: 2px;
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
  }

.about-avatar {
  float: left;
  padding: 7px 0px 150px 0;
}
.about-avatar img {
  margin-left: -150px;
  width: 125px;
  border: none;
  padding: 0;
}