  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>0x74696d{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  {%if page.canonical %}<link rel="canonical" href="{{ page.canonical }}" />{% endif %}
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/webfonts/ss-social.css" type="text/css" />
