<section class="meta">
  <a class="block" href="https://twitter.com/{{ site.author.twitter }}">
    <span class="ss-social-circle ss-twitter" />
    <div>Follow.</div>
  </a>

  <a class="block" href="https://github.com/{{ site.author.github }}">
    <span class="ss-social-circle ss-octocat" />
    <div>Collaborate.</div>
  </a>

  <a class="block" href="/me.html#contact">
    <span class="ss-social-circle ss-mail" />
    <div>Communicate.</div>
  </a>

  <a class="block" href="/rss.xml">
    <span class="ss-social-circle ss-rss" />
    <div>RSS.</div>
  </a>

  <div style="clear: both"></div>
</section>
