<section class="meta">
  <a class="block" href="https://twitter.com/intent/follow?screen_name={{ .Site.Params.twitter }}">
    <span class="ss-social-circle ss-twitter"></span>
    <div>Follow</div>
  </a>

  <a class="block" href="https://github.com/{{ .Site.Params.github }}">
    <span class="ss-social-circle ss-octocat"></span>
    <div>Collaborate.</div>
  </a>

  <a class="block" href="/me#contact">
    <span class="ss-social-circle ss-mail"></span>
    <div>Communicate.</div>
  </a>

  <a class="block" href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <span class="ss-social-circle ss-rss"></span>
    <div>RSS.</div>
  </a>

  <div style="clear: both"></div>
</section>
