<div class="share">
  <a href="https://twitter.com/intent/tweet?url=http://0x74696d.com{{ .URL }}&via={{ .Site.Params.twitter }}{{ if .Params.tweet }}&text={{ .Params.tweet }}{{ end }}"
     class="ss-twitter"></a>
</div>
<aside>Is your build constantly broken? Are you questioning whether that whole microservices thing was such a good idea? Are your AWS infrastructure costs spiraling out of control? Does your application have weird performance problems? Do you have a team of amazing developers but they need help making their software observable and robust? I'm currently available for consulting, or for hire by the right team. Contact me at <a href="mailto:tim@0x74696d.com">tim@0x74696d.com</a></aside>
